@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul { list-style: none; }
a {text-decoration: none;}
html, body { height: 100%;}

.wrap{
    clear: both;
    width: 100%;
    height: 100%;
}
img{
    display: block;
    width: 100%;
}

.intro {
width: 1000px;
height: 500px;
margin: 100px 590px;
}
.intro_top{
    margin-bottom: 50px;
}
.intro_left{
    float: left;
    width: 40%;
}
.intro_right{
    float: left;
    width: 60%;
}

.imgbox{
    width: 60%;
}
.et{
    width: 100%;
    border-left: 3px solid currentcolor;
    padding-left: 14px;
    padding-right: 14px;
    color: inherit;
}
.et span{
    float: left;
    display: block;
    width: 60px;
}
strong{
    color: blueviolet;
}

.project{
    clear: both;
    margin-top: 10%;
    width: 1600px;
    margin: 0 auto;
}
.p_box{
    display: flex;
    flex-direction: column;
}
.p_item{
    width: 1600px;
    height: 600px;
    border-bottom: 2px solid #000;
    margin-bottom: 15%;
}
.slider{
position: relative;
width: 100%;
height: 550px;
}
.p_item .mimg_box{
position: absolute;
left: 45px;
width: 90%;
height: 550px;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

    

.item_left{
    float: left;
    width: 40%;
}
.item_right{
    float: left;
    width: 60%;
}

.item_right .btn_box{
    position: relative;
    z-index: 999;
}

.item_right .prev_btn{
    position: absolute;
    top: 275px;
    width: 45px;
    height: 80px;
    background-image: url(./img/left_btn.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.item_right .prev_btn:hover{
    background-image: url(./img/left_btn_hover.png);
}

.item_right .next_btn{
    position: absolute;
    top: 275px;
    left: 915px;
    width: 45px;
    height: 80px;
    background-image: url(./img/right_btn.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.item_right .next_btn:hover{
    background-image: url(./img/right_btn_hover.png);
}


.item_right .prev_btn::after{


}



.progress-bar {
    float: left;
    margin: 8px 50px;
    width: 50%;
    height: 10px;
    background: linear-gradient(to right, #4F98FF 0 100%, #DEDEDE 72% 100%);
    font-weight: 600;
    font-size: .8rem;
  }
  .progress-bar::after {
    position: relative;
    left: 102%;
    top: -5px;
    content: "100%";
  }

  .progress-bar2::after {
    position: relative;
    left: 102%;
    top: -5px;
    content: "55%";
  }

  .progress-bar3::after {
    position: relative;
    left: 102%;
    top: -5px;
    content: "70%";
  }